.table-bordered td, .table-bordered th {
    border: 1px solid #000 !important; /* Bordes negros como en la imagen */
    padding: 0.4rem;
}

input.form-control:focus {
    box-shadow: none;
    background-color: #f8f9fa;
}

/* Ajuste para que los inputs ocupen todo el espacio sin bordes propios */
input.form-control-sm {
    border-radius: 0;
    padding: 0.2rem 0.4rem;
}

.bg-light {
    background-color: #f2f2f2 !important;
}