.navbar-inamhi {
  background-color: white !important;
  color: #333;
  border-bottom: 1px solid #eee;
  display: flex;
  gap: 5px;
}

.spacer { flex: 1 1 auto; }

/* Si el formulario está incompleto */
.btn-rojo {
  color: #d32f2f !important; /* Rojo */
  border-bottom: 2px solid #d32f2f;
  border-radius: 0;
}

/* Si el formulario está completo */
.btn-verde {
  color: #388e3c !important; /* Verde */
  border-bottom: 2px solid #388e3c;
  border-radius: 0;
}

.main-container {
  padding: 20px;
  min-height: calc(100vh - 64px); /* Ajusta según el alto de tu toolbar */
  background-color: #f5f5f5; /* Un gris muy claro para que resalte el blanco de tus formularios */
}